// PRICING CARDS

.pricing{
    background: url(/images/we-got.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-bottom: 8rem;
    

    .container{
        max-width: 1250px;
    }

    .pricing-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        align-items: stretch;
        gap: 2rem;
        color: #fff;
        margin: 0 auto;
        .card{
            background: $secondary-color;
            padding: 2.5rem;
            padding-bottom: 4.5rem;
            margin: 0 auto;

            .month-pass{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 0;
                font-size: calc(1.1rem + 1.1vw);
            }

            p{
                @extend %p;
                text-align: left;
                padding-left: 0;
                font-size: calc(.8rem + .8vw);
                
            }
            .button{
                margin-top: 1rem;
            }
        }
    }
    }